[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* bootstrap fix */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
    background-color: #fefefe;
    text-align: center;
    font-family:open-sans,sans-serif;font-weight:400;font-size:16px;line-height:28px;
}

h1, h2, h3 {
    font-family: brandon-grotesque, sans-serif;
}

h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 100;
    margin: 30px 0;
}

h2 {
    font-size: 34px;
    font-weight: 300;
    line-height: 42px;
    margin: 25px 0;
}

h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 20px;
    margin: 15px 0;
}

p {
    font-family: open-sans,sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 28px;
    margin: 14px 0;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

header {
    overflow: hidden;
    padding: 0px 20px;
}

header > h1 {
    float: left;
    margin: 20px 0px;
}
header > nav {
    float: right;
    margin-top: 40px;
}
header > nav > ul {
    list-style: none;
}
header > nav > ul li {
    float: left;
    margin: 0px 15px;
    background: #D2312B;
    padding: 0px 10px;
}

header > nav > ul li a {
    color: #f9f9f9;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
}

footer {
    color: #efefef;
    height: 80px;
    background: #372c26;
}
footer > p {
    padding-top: 30px;
}

.big {
    padding: 30px;
    margin: 20px 0px;
    position: relative;
    height: 240px;

}
.big h1 {

}
.bg-gray {
    background-color: #e7e7e7;
}

.carousel {
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: 0px;
}
.carousel img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -270px;
}
.top4 {
    min-height: 218px;
    position: relative;
}

.top4 > ul {
    list-style: none;
    overflow: hidden;
    padding: 20px;
}
.top4 > ul li {
    float: left;
    width: 265px;
    padding: 20px;
}
.top4 > ul li img {
    max-height: 60px;
}
.top4 > ul li h3 {

}

.browse {
    overflow: hidden;
    margin: 20px;
}
.browse > .left {
    float: left;
    width: 260px;
}
.browse .filters {
}
.browse .filters > ul {

}
.browse .filters > ul li {
    text-align: left;
    background-color: #D2312B;
    margin: 10px;
    padding: 2px 12px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.browse > .list {
    width: 800px;
    float: right;
    min-height: 966px;
    position: relative;
}
.browse > .list  > ul {
list-style: none;
    min-height: 2050px;
}
.browse > .list  > ul li {
    overflow: hidden;
}
.browse > .list  > ul li > div.img {
    float: left;
    width: 150px;
}
.browse > .list  > ul li > div.img > img {

    max-height: 100px;
}
.browse > .list  > ul li > div.details {
float: left;
    margin: 0px 30px;
    text-align: left;
}
.browse > .list  > ul li > div.details > h2 {
    font-size: 18px;
    margin: 0px;
}
.browse > .list  > ul li > div.details > div.attributes {
    overflow: hidden;
}
.browse > .list  > ul li > div.details > div.attributes > h3 {
    font-size: 11px;
    margin: 0px 10px 0px 0px;
    float: left;
    text-decoration: underline;
}
.browse > .list  > ul li > div.details > p {
    font-size: 14px;
    margin: 0;
}
.browse > .list  > ul li > div.actions {
    float: right;
    width: 150px;
}
.browse > .list  > ul li > div.actions > h2 {
    font-size: 24px;
    margin: 0;
}
.browse > .list  > ul li > div.actions > button {
    font-family: inherit;
    padding: .5em 1em;
    color: rgba(0,0,0,.8);
    border: 0 rgba(0,0,0,0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}
.browse > .list  > ul li > div.actions > button:disabled {
    font-family: inherit;
    padding: .5em 1em;
    color: rgba(129, 129, 129, 0.80);
    border: 0 rgba(0,0,0,0);
    background-color: #f3f3f3;
    text-decoration: none;
    border-radius: 2px;
}


.browse .comparer {
    background: #fff;
    border: 1px solid #787878;
    border-radius: 2px;
    padding: 10px;
}
.browse .comparer > h3 {

}
.browse .comparer > ul {

}
.browse .comparer > ul li {
    list-style: none;
    overflow: hidden;
    text-align: left;
}
.browse .comparer > ul li h4 {
    font-size: 10px;
    float: left;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.browse .comparer  > ul li button {
    font-family: inherit;
    padding: .5em 1em;
    color: rgba(0,0,0,.8);
    border: 0 rgba(0,0,0,0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    float: right;
}
.browse .comparer  > ul li button:disabled {
    font-family: inherit;
    padding: .5em 1em;
    color: rgba(129, 129, 129, 0.80);
    border: 0 rgba(0,0,0,0);
    background-color: #f3f3f3;
    text-decoration: none;
    border-radius: 2px;
}

.timeline-div::-webkit-scrollbar{
    background-color: rgba(210, 49, 43, 0.5);
    height: 20px;
}
.timeline-div::-webkit-scrollbar-thumb{
    background-color: #fefefe;
    border-radius: 2px;
    border: 1px solid #848484;
}
.timeline-div::-webkit-scrollbar-thumb:hover{
    background-color: #f9f9f9;
    border:1px solid #797979;
}
.timeline-div::-webkit-scrollbar-thumb:active{
    background-color: #f3f3f3;
    border:1px solid #717171;
}
.timeline-div {
    overflow-x: scroll;
    position: relative;
    height: 200px;
    overflow-y: hidden;
}

.timeline {
    list-style: none;
    height: 200px;
    width: 25000px;
    position: absolute;
}

.timeline > li {
    float: left;
    background: #fff;
    margin: 4px 8px;
    border-radius: 3px;
    padding: 10px;
    max-width: 200px;
    text-align: center;
}

.timeline > li > img {
    max-height: 120px;
}

.timeline > li > p {
    font-size: 10px;
}

#map {
    height: 100%;
    margin-bottom: -14px;
}

.loader-div {
    text-align: center;
    /* margin: 20px; */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #f3f3f3;

}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 50px;
    /*border: 4px solid #D2312B;*/
    border: 4px solid #D2312B;
    /*top: 50%;*/
    animation: loader 4s infinite ease;
    -webkit-animation: loader 4s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    /*background-color: #D2312B;*/
    background-color: #D2312B;
    animation: loader-inner 4s infinite ease-in;
    -webkit-animation: loader-inner 4s infinite ease-in;
}

@-webkit-keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}*/