<div id="years-div"><h1>The most popular wines of the year.</h1>

    <div id="year-list">
        <ul ng-repeat="y in years | filter: selectedYear"><i ng-click="prevYear();"
                                                             class="fa fa-angle-double-left fa-2x"></i>

            <h1 class="year">{{selectedYear.year}}</h1><i ng-click="nextYear();"
                                                          class="fa fa-angle-double-right fa-2x"></i>
            <li ng-repeat="w in y.wines"><h3 ng-click="addToDetails(w)">{{w.Name}}</h3>
                <button ng-click="addToDetails(w)">More info</button>
            </li>
        </ul>
    </div>
</div>
<div class="wineDetails" ng-repeat="w in detailsList">
    <div class="img"><img fallback-src="{{w.labelUrl}}" src="{{w.ImageUrl}}"/></div>
    <h4>{{w.Name}}</h4>

    <div class="property"><p>Appellation Name</p>

        <div class="value"><p>{{w.AppellationName}}</p></div>
    </div>
    <div class="property"><p>Region Name</p>

        <div class="value"><p>{{w.RegionName}}</p></div>
    </div>
    <div class="property"><p>Year</p>

        <div class="value"><p>{{w.Year}}</p></div>
    </div>
    <div class="property"><p>Varietal</p>

        <div class="value"><p>{{w.Varietal}}</p></div>
    </div>
    <div class="property"><p>Winetype</p>

        <div class="value"><p>{{w.WineType}}</p></div>
    </div>
    <div class="property"><p>Vineyard</p>

        <div class="value"><p>{{w.VineyardName}}</p></div>
    </div>
    <div class="property"><p>Highest Review</p>

        <div class="value"><p>{{w.HighestReview}}</p></div>
    </div>
    <div class="property"><p>Highest Rating</p>

        <div class="value"><p>{{w.HighestRating}}</p></div>
    </div>
    <div class="property"><p>Price</p>

        <div class="value"><p>{{w.PriceRetail}}</p></div>
    </div>
    <div class="property"><p>Attributes</p>

        <div class="value"><p ng-repeat="a in w.Attributes">{{a.Name}}</p></div>
    </div>
    <div class="property"><p>More Details on <a target="_blank" href="{{w.URL}}">Wine.com</a></p></div>
    <button ng-click="hideDetails()"><i class="fa fa-close fa-lg"></i></button>
</div>