<div id="map-wrapper">
    <div class="panner">
        <ul>
            <li ng-click="panTo('France');">France</li>
            <li ng-click="panTo('Italy');">Italy</li>
            <li ng-click="panTo('Spain');">Spain</li>
            <li ng-click="panTo('America');">America</li>
        </ul>
    </div>
    <div class="loader-div" style="opacity: 1"><span class="loader"><span class="loader-inner"></span></span>
    <p class="message"></p>
    </div>
    <div id="map" style="opacity: 0">
    </div>
</div>
<script src="map/bram.js"></script>